<div class="jumbotron">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">Version Status</div>
            <ul class="list-group">
                <li class="list-group-item">Web Service Core Version ： @ViewBag.Version</li>
                <li class="list-group-item">Application Pool Runtime Version ： @ViewBag.NetVersion</li>
                <li class="list-group-item">IIS Server Version ： @ViewBag.ServiceIIS</li>
            </ul>
        </div>
    </div>
</div>
